<template>
  <form @submit.prevent="submit">
    <div class="spot-form-header">
      <h2>Create a new Spot!</h2>
      <span
        class="spot-form-close"
        @click="close">
        &#215;
      </span>
    </div>
    <div class="form section flex">
      <div>
        <label for="lat">lat:</label>
        <input
          :value="lat"
          type="text"
          placeholder="lat"
          name="lat"
          readonly />
      </div>
      <div class="separator">-</div>
      <div>
        <label for="lng">lng:</label>
        <input
          :value="lng"
          type="text"
          placeholder="lng"
          name="lng"
          readonly />
      </div>
    </div>
    <div class="form section">
      <label for="name">Name:</label>
      <input
        v-model="name"
        type="text"
        placeholder="Name"
        name="name" />
    </div>
    <div class="form section">
      <label for="description">Description:</label>
      <textarea
        v-model="description"
        type="text"
        placeholder="Description"
        name="description"
        cols="100"
        rows="3" />
    </div>
    <div class="form section">
      <label for="tags">Tags:</label>
      <input
        v-model="tagString"
        type="text"
        placeholder="Tags"
        name="tags" />
    </div>
    <div class="form section">
      <div class="button">
        <button type="submit">Ok</button>
      </div>
    </div>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'MycoNewSpot',
  props: {
    lat: {
      type: Number,
      required: true
    },
    lng: {
      type: Number,
      required: true
    },
    pid: {
      type: String,
      required: true
    }
  },
  data: function() {
    return  {
      name: '',
      description: '',
      tagString: ''
    }
  },
  computed: {
    tags: function() {
      return this.tagString.split(',')
    }
  },
  methods: {
    ...mapActions('guides', ['createSpot']),
    submit: function() {
      const payload = {
        lat: this.lat,
        lng: this.lng,
        name: this.name,
        description: this.description,
        tags: this.tags
      }
      this.createSpot({
        pid: this.pid,
        payload
      }).then(() => {
        this.close()
      }).catch((err) => {
        // TODO: display error messages
        // TODO: field validation, display error messages in fields
        console.log(err)
      })
    },
    close: function() {
      this.name = ''
      this.description = ''
      this.tagString = ''
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
form {
  padding: 20px;
}
.form.section {
  margin: 10px 0;
  width: 100%;
  max-width: 700px;
}
.form.section.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: last baseline;
  justify-content: space-between;
}
.form.section.flex > div {
  flex: 1 auto;
}
.form.section.flex .separator {
  flex: 0;
  margin: 0 10px;
}
.form.section label {
  display: block;
}
.form.section input[type=text] {
  width: 100%;
}
.form.section textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  font-family: "Fira code", monospace;
  border-radius: 4px;
  outline: none;
  border: 1px solid #c0c0c0;
}

.spot-form-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.spot-form-close {
  font-size: 25px;
  cursor: pointer;
}
</style>
