<template>
  <div id='mapid'>
    <slot v-if="mymap.leaflet"/>
  </div>
</template>

<script>
import L from 'leaflet'

import "leaflet/dist/leaflet.css"

const defaultOpts = {
  center: [42.9453986, -2.7196453],
  zoom: 16,
  doubleClickZoom: false
}

export default {
  name: 'MycoMap',
  data: function() {
    return {
      mymap: {}
    }
  },
  provide: function() {
    return {
      mymap: this.mymap
    }
  },
  props: {
    options: {
      type: Object,
      default: () => {
        return {}
      }
    },
    bounds: {
      type: Array,
      default: () => {
        return []
      }
    },
    padding: {
      type: Array,
      default: () => {
        return [0,0,0,0]
      }
    }
  },
  computed: {
    mapOptions: function() {
      return Object.assign(
        { ...defaultOpts },
        this.options
      )
    }
  },
  watch: {
    bounds: function() {
      if (this.bounds.length >= 1) {
        this.mymap.leaflet.fitBounds(this.bounds, {
          paddingTopLeft: [this.padding[0], this.padding[3]],
          paddingBottomRight: [this.padding[1], this.padding[2]]
        })
      }
    }
  },
  methods: {
    onDoubleClick: function(event) {
      this.$emit('dblclick', event)
    }
  },
  mounted: function() {
    this.mymap.leaflet = new L.Map('mapid', this.mapOptions);

    const apiKey = process.env.VUE_APP_LEAFLET_TILE_API_KEY
    const tileUrl = `https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=${apiKey}`

    L.tileLayer(tileUrl, {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> | <a href="https://www.thunderforest.com/maps/outdoors/">Thunderforest</a>',
    }).addTo(this.mymap.leaflet)

    this.mymap.leaflet.on('dblclick', this.onDoubleClick)
  }
}
</script>

<style>
#mapid {
  height: 100%;
}
</style>
