<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import L from 'leaflet'

export default {
  name: 'MycoMarker',
  props: {
    spot: {
      type: Object,
      required: true
    },
    temp: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'mushy1'
    }
  },
  data: function() {
    return {
      marker: {}
    }
  },
  computed: {
    icon: function() {
      return L.icon({
        iconUrl:      require(`../../assets/img/${this.type}.png`),
        shadowUrl:    require('../../assets/img/shade.png'),
        iconSize:     [40, 39],
        shadowSize:   [64, 46],
        iconAnchor:   [20, 40],
        shadowAnchor: [15, 37],
        popupAnchor:  [0, -40]
      })
    }
  },
  inject: ['mymap'],
  watch: {
    spot: function() {
      this.marker.setLatLng([this.spot.lat, this.spot.lng])
    }
  },
  mounted: function() {
    // Create marker
    this.marker = L.marker(
      [this.spot.lat, this.spot.lng],
      { icon: this.icon }
    ).addTo(this.mymap.leaflet)
    // If there's slot, then bind popup to marker
    if (this.$slots.default) {
      const htmlPopup = this.$slots.default[0].elm.innerHTML
      this.marker.bindPopup(htmlPopup)
    }
  },
  beforeDestroy: function() {
    this.marker.remove()
  }
}
</script>

<style>
.leaflet-popup h2 {
  font-family: 'Fira Code', monospace;
}

.leaflet-popup ul {
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.leaflet-popup ul li {
    display: inline-block;
    margin: 2px;
    font-size: 12px;
    background: #e1e8f1;
    padding: 0px 5px;
}
</style>
