<template>
  <div>
    <div class="plus">
      <div class="circle">
        <router-link to="/guides/new">+</router-link>
      </div>
    </div>
    <ul>
      <router-link
        v-for="guide in guides"
        :key="guide.pid"
        :to="{ name: 'guide', params: { pid: guide.pid } }">
        <li>
          <h2>{{ guide.name }}</h2>
          <p>{{ guide.description }}</p>
        </li>
      </router-link>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MycoGuidesView',
  computed: {
    ...mapGetters('guides', {
      guides: 'getGuides'
    })
  },
  methods: {
    ...mapActions('guides', ['fetchAllGuides'])
  },
  mounted: function() {
    this.fetchAllGuides()
  }
}
</script>

<style scoped>
div.plus {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

div.circle {
  margin: 1em 1em 0 0;
  height: 25px;
  width: 25px;
  background-color: #5ddfdf;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

div.plus a {
  font-size: 15pt;
  font-style: bold;
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  background: white;
  width: 90%;
  padding: 20px;
  display: block;
  margin: 10px auto;
}

li h2 {
  font-size: 18px;
  margin: 0;
}
</style>
