<template>
  <div class="map-container">
    <myco-map
      @dblclick="openNewSpot"
      :bounds="bounds"
      :padding="padding">
      <myco-marker
        v-for="spot in spots"
        :key="spot.id"
        :spot="spot">
        <myco-popup :spot="spot">
        </myco-popup>
      </myco-marker>
      <myco-marker
        v-if="activeForm"
        :temp="true"
        :spot="latlng"
        type="mushy2">
      </myco-marker>
    </myco-map>
    <div
      class="spot-form"
      :class="{ active: activeForm }">
      <myco-new-spot
        v-if="activeForm"
        :lat="latlng.lat"
        :lng="latlng.lng"
        :pid="pid"
        @close="closeNewSpot">
      </myco-new-spot>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import MycoMap from '../leaflet/Map.vue'
import MycoMarker from '../leaflet/Marker.vue'
import MycoPopup from '../leaflet/Popup.vue'
import MycoNewSpot from '../NewSpot.vue'

export default {
  name: 'MycoHomeView',
  props: {
    pid: {
      type: String,
      default: ''
    }
  },
  data: function() {
    return {
      activeForm: false,
      latlng: {},
      bounds: [],
      padding: [0,0,0,0]
    }
  },
  components: {
    MycoMap,
    MycoMarker,
    MycoNewSpot,
    MycoPopup
  },
  computed: {
    ...mapGetters('guides', {
      spots: 'getSpots'
    })
  },
  methods: {
    ...mapActions('guides', ['fetchGuideSpots', 'fetchAllSpots']),
    openNewSpot: function(event) {
      this.latlng = event.latlng
      this.activeForm = true
      this.focusOnSpots([this.latlng], [0,0,400,0])
    },
    closeNewSpot: function() {
      this.latlng = {}
      this.activeForm = false
      this.focusOnSpots(this.spots)
    },
    initialize: async function() {
      const spots = this.pid
        ? await this.fetchGuideSpots(this.pid)
        : await this.fetchAllSpots()
      this.focusOnSpots(spots)
    },
    focusOnSpots: function(spots, padding=[0,0,0,0]) {
      this.bounds = spots.map((spot) => [spot.lat, spot.lng])
      this.padding = padding
    }
  },
  watch: {
    pid: async function() {
      await this.initialize()
    }
  },
  mounted: async function() {
    await this.initialize()
  }
}
</script>

<style scoped>
body {
  overflow-y: hidden;
}

.map-container {
  height: 100%;
}

.spot-form {
  display: block;
  background: white;
  z-index: 99999;
  position: absolute;
  width: 100%;
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);
  transition: height ease-out 500ms;
  height: 0px;
  bottom: 0px;
  padding: 0px;
}

.spot-form.active {
  display: block;
  height: 420px;
}
</style>
