<template>
  <form @submit.prevent="onSubmit">
    <h2>Create a new Guide!</h2>
    <div class="form section">
      <label for="name">Name: </label>
      <input type="text" placeholder="Name" name="name" v-model="name" />
    </div>
    <div class="form section">
      <label for="description">Description: </label>
      <textarea type="text" placeholder="Description" name="description" v-model="description" />
    </div>
    <div class="form section">
      <div class="button">
        <button type="submit">Ok</button>
      </div>
    </div>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'MycoNewGuideView',
  data: function() {
    return  {
      name: '',
      description: ''
    }
  },
  methods: {
    ...mapActions('guides', ['createGuide']),
    async onSubmit () {
      const guide = await this.createGuide({
        name: this.name,
        description: this.description
      })
      this.$router.push(`/guide/${guide.id}`)
    }
  }
}
</script>

<style scoped>
form {
  background: white;
  width: 90%;
  padding: 20px;
  display: block;
  margin: 20px auto;
  display: block;
}

div.form.section {
  padding: 10px;
  display: block;
  width: 100%;
}

label {
  font-size: 14pt;
  display: block;
  width: 100%;
  padding: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
}

textarea {
  min-height: 10em;
}

div.button {
  display: flex;
  justify-content: flex-end;
}
</style>
